body > * {
  background-color: rgba(170, 25, 241, 0.1);
}
body > * > * {
  background-color: rgba(221, 21, 21, 0.2);
}
body > * > * > * {
  background-color: rgba(110, 251, 141, 0.4);
}
body > * > * > * > * {
  background-color: rgba(211, 221, 11, 0.5);
}
body > * > * > * > * > * {
  background-color: rgba(1, 251, 221, 0.6);
}
